body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  /* background-image: url("/public/Home.jpg"); */
  background-size: cover;
}
/* 
header {
  background-color: #00857b;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

#logo {
  color: white;
  font-weight: bold;
}

nav ul {
  list-style: none; 
  display: flex;
}

nav li {
  color: white;
  text-decoration: none;
  margin-left: 20px;
} */


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00857b; /* Background color for the header */
  padding: 0px 20px;
  color: white; /* Text color for the header */
}


nav ul {
  list-style: none;
  display: flex;
  padding: 0;
}

nav li {
  margin-right: 20px; /* Add spacing between list items */
}

nav a {
  text-decoration: none;
  color: white; /* Text color for links */
}

#login-btn {
  background-color: #016b63;
  padding: 5px 10px;
  border-radius: 5px;
}

.home {
  text-align: center;
  /* margin-top: 150px; */
  /* background-image: url("/public/background.png"); */
  /* background-blend-mode: hard-light; */
  height: 600px;
}

.option button {
  background-color: #016b63;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
}

h1{
  color: #016b63;
  font-size: xx-large;
}

h3
{
  color: #016b63;
  font-size: large;
}

.align-footer
{
  display: flex;
  justify-content:space-around;
  align-items:center;
  position: relative;
  width: 100%;
}


Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00857b; /* Background color for the header */
  padding: 0px 20px;
  color: white; /* Text color for the header */
}

.side-image {
  /* background-image: url("/public/homeimg.jpeg"); */
  /* background-image: url("public/background.png"); */
  /* height: 300px;
  width: 500px;  */
}
.align-home{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 50px;
}

.three_dots{
  background-color: #00857b;
  box-shadow: none;
}
.three_dots:hover{
  background-color: #00857b;
  box-shadow: none;
}