/* General styling for the dashboard */
.EventHost {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* Styling for the dropdown */
select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
.select-dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for the lists */
.EventHost ul {
    list-style-type: none;
    padding: 0;
}

.EventHost li {
    background-color: #f9f9f9;
    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

/* Styling for the titles */
.EventHost h2 {
    color: #333;
    margin-bottom: 15px;
}

/* Additional styling can be added here */
